body {
	background-color: #181b22;
	margin: 0;
	padding: 0 120px;
	color: #c0c0c0;
	font-family: Verdana, sans-serif;
	font-size: 14px;
}

abbr[nazwisko_adres] {
	border-bottom:2px dashed;
	cursor:help;
}

.nagłówek {
	margin: 20px;
	padding: 20px;
	border-width: thin;
	border-color: #fff;
	border-style: dashed;
	background-color: #000;
	color: #fff;
	font-family: Tahoma, sans-serif;
	text-align: center;
}

h1 {
	font-family: Arial, sans-serif;
	color: #ff0000;
	font-size: 28px;
	font-weight: bold;
	text-align: center;
	margin: 20px 0;
}

h2 {
	color: #99cc00;
	font-size: 18px;
	text-align: center;
	margin: 0;
}

h3 {
	font-family: Tahoma, sans-serif;
	color: #cacaca;
	font-size: 25px;
	font-weight: bold;
	border-bottom: 1px dashed #cacaca;
	text-align: left;
	margin: 2px 0 17px 0;
}

h3:before {
	color: #ffff00;
	content: " # ";
	font-size: 25px;
}

@keyframes moja_animacja {
  0% { color:white; }
  33% { color:gold; }
  67% { color:red; }
  100% { color:white; }
}

.polecane {
	position: relative; left: 18em;
	position: relative; bottom: 3em; 	
	font-size: 10px;
	animation:moja_animacja 800ms infinite;
}

.Tabela {
	margin: 20px;
	padding: 20px;
	border-width: thin;
	border-color: #fff;
	border-style: dashed;
	background-color: #000;
	color: #fff;
	font-family: Tahoma, sans-serif;
	text-align: center;
}

table {

	margin: 0 auto;
	text-align: left;
	width: 100%;
	font-size: 13px;
}

td {
	padding: 8px 3px;
}

th {
	text-align: center;
	color: #99cc00;
	font-size: 15px;
	text-decoration: underline;
}

.Lista {
	text-align: center;
}

.Lista:nth-child(odd) {
	text-align: center;
	background-color: rgba(112, 128, 144, 0.15);
}

.centerNazwa {
	text-align: center;
	font-family: Arial, sans-serif;
	font-size: 14px;
	font-weight: bold;
}

.center {
	text-align: center;
	font-size: 13px;
	font-weight: bold;
}

.dataDoKiedy  {
	font-weight: bold;
}

.brakPromocji  {
		color: #ffffff;
}
